.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #180348;
  color: white;
}

  
.login-box {
  text-align: center;
  background: #fff;
  padding: 40px 20px;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-box h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #3f51b5;
}

  .login-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
  }
  
  #signInDiv,
  #signUpDiv {
    display: flex;
    justify-content: center;
  }
  
  .google-login-button:hover {
    background: #357ae8;
  }